.data{
    display:flex;
    max-width:800px;
    width:100%;
    margin:0 auto;
}

.data *{
    padding:10px;
}

.data span {
    font-weight:bold;
}

.data-reverse{
    flex-direction: row-reverse;
}

@media (max-width:833px){
    .data{
        max-width: none !important;
        width:100%;
    }
    .data-reverse,
    .data{
        flex-direction: column;
    }
}

@media (min-width: 834px) {
    .data {
        flex-direction: row;
    }
    .data-reverse {
        flex-direction: row-reverse;
    }
}